/* CURSOR CSS */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsla(39, 37%, 53%, 0.701);
  opacity: 0.4;
  transition:
    width 0.25s ease,
    height 0.25s ease,
    opacity 0.25s ease;
}

.cursor.hovered .cursor-dot {
  width: 76px;
  height: 76px;
  opacity: 0.2;
}

/* LOADER */
.re-loader-wrap {
  position: fixed;
  inset: 0;
  background: #0b1220;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.re-loader-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* SVG */
.re-house svg {
  width: 80px;
  height: 80px;
}

.roof,
.body,
.door {
  fill: none;
  stroke: #d9baa0;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 3s ease forwards;
}

.body {
  animation-delay: 0.4s;
}
.door {
  animation-delay: 0.8s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.re-text {
  display: flex;
  font-size: 28px;
  letter-spacing: 6px;
  font-weight: 600;
  color: white;
}

.re-text span {
  opacity: 0;
  transform: translateY(20px);
  animation: letter 0.6s ease forwards;
}

.re-text span:nth-child(1) {
  animation-delay: 1.1s;
}
.re-text span:nth-child(2) {
  animation-delay: 1.2s;
}
.re-text span:nth-child(3) {
  animation-delay: 1.3s;
}
.re-text span:nth-child(4) {
  animation-delay: 1.4s;
}
.re-text span:nth-child(5) {
  animation-delay: 1.5s;
}
.re-text span:nth-child(6) {
  animation-delay: 1.6s;
}
.re-text span:nth-child(7) {
  animation-delay: 1.7s;
}

@keyframes letter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAV HOVER */
.nav-hover {
  overflow: hidden;
  display: inline-block;
}

.nav-hover span {
  display: block;
  position: relative;
}

.nav-hover span::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
}

/* WHO WE ARE */

.hidden-content {
  display: none;
}

.active-content {
  display: block;
}

.who-tab {
  background-color: black;
  color: white;
  padding: 16px 16px;
  border-radius: 10px;
}
.active-tab {
  color: hwb(0 0% 100%);
  background: #b39359;
  border-radius: 10px;
}

/* FIXED BG */
.fixed-bg {
  height: 620px;
  max-width: 80rem;
  margin: auto;
  background-image: url("./src/assets/fixed.webp");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* FOOTER */

.footer-link {
  transition: 0.3s ease;
}

.footer-link:hover {
  color: #b39359;
}

.social-circle:hover {
  background: #b39359;
  color: #000;
  transition: 0.3s ease;
}

.news-btn:hover {
  transform: scale(1.08);
  transition: 0.3s ease;
}

/* PROJECT PAGE */

.home-img {
  transform-origin: center;
  will-change: transform;
}

/* DASHBOARD PAGE */
.action-link:hover {
  text-decoration: underline;
}

.table-scroll {
  -webkit-overflow-scrolling: touch;
}

.table-scroll::-webkit-scrollbar {
  height: 6px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
